
.font-link {
    font-family: 'Poppins', sans-serif;
}
.form{
    justify-content: center;
    align-items: center;
    width: 32vw;
    height: 90vh;
    float: right;
    padding: 5px;
    background-color: rgb(158, 181, 204);
    font-size: 12px;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
    box-shadow: 1px 1px 10px 0px rgb(109, 120, 131);

    
}
.info {
    font-size: 18px;
    color: honeydew;
    font-weight: 900;
    margin-bottom: 10px;
}
.festivalUrl{
    font-size: 12px;
    margin: 0;
}
.festivalName{
    font-size: 20px;
    height: 20px;
    color: rgb(179, 70, 43);
}
.selectResult {
    font-size: 16px;
    margin: 5px;
}

.input {
    border: none;
    border-radius: 5px;
    margin: 4px;
    height: 25px;
    width: 20vw;
    padding-left: 12px;
    font-family:'Poppins', sans-serif ;
    color: rgb(51, 96, 141) ;
    font-weight: 400;

}
.input:focus{
    border: 2px solid rgb(31, 67, 102) ;
    background-color:rgb(201, 216, 231)  ;
    box-shadow: 1px 1px 10px 0px rgb(109, 120, 131);
}

.input::placeholder{
    font-size: 12px;
    color: rgb(125, 167, 209) ;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.textarea{
    height: 55px;
}
